html, body, .App, #root {
  height: 100%;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.game-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;

}

.board-wrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.board {
  width: 50%;
  max-width: 300px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 5px;
  column-gap: 5px;
}

.status {
  padding: 3em;
}

.square {
  font-weight: bold;
  background-color: lightgray;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}